#video-grid {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

video {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#video-container {
    margin: 2em 1em;
}

#name-display {
    color: white;
    text-align: center;
    font-size: 1em;
}