#video-grid {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video-container {
    margin: 2em 1em;
}