#video-grid {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

video {
    width: 20em;
    height: 20em;
    object-fit: cover;
    margin: 2em 1em;
}

#video-container {
    margin: 2em 1em;
}
